.container{
    height: 450px;
    width: 300px;
    margin: 10px 15px 10px 15px; 
    border: 3px solid pink;
    background-color: black;
}
h1{
    color: rgb(44, 8, 245);
    margin-left: 15px;
}
.red{
    height: 100px;
    width: 100px;
    border: 3px solid red;
    margin :25px 100px 25px 100px;
    background-color: red;
    border-radius: 50%;
}
.yellow{
    height: 100px;
    width: 100px;
    border: 3px solid yellow;
    margin :25px 100px 25px 100px;
    background-color: yellow;
    border-radius: 50%;
}
.green{
    height: 100px;
    width: 100px;
    border: 3px solid green;
    margin :25px 100px 25px 100px;
    background-color: green;
    border-radius: 50%;
}